Repository Mag0de0z2099/Proyecto-Codex: changes, and which Codecov flags are due for each by the changed paths.
All: api, auth, models, routes, services, utils, API, Auth, Models, Routes, Services, Utils

docs(readme): add authors section
  .env.example
  LICENSE
  README.md
  app/__init__.py
  app/blueprints/admin/routes.py
  app/blueprints/auth/routes.py
  app/config.py
  app/logging_cfg.py
  app/registry.py
  app/utils/validators.py
Due: routes, utils, Routes, Utils

Add health check and authentication flow
  Procfile
  README.md
  app/__init__.py
  app/cli.py
  app/models/__init__.py
  app/registry.py
  app/routes/auth.py
  app/routes/health.py
  app/services/auth_service.py
  manage.py
  migrations/versions/20251008_auth_flags.py
  render.yaml
  tests/auth/test_login.py
  tests/smoke/test_healthz.py
Due: models, routes, services, Models, Routes, Services

Add health check endpoint and real auth login
  README.md
  app/__init__.py
  app/routes/auth.py
  app/routes/health.py
  app/services/auth_service.py
  manage.py
  migrations/versions/20250924_add_approval_fields.py
  render.yaml
  tests/auth/test_login.py
  tests/conftest.py
  tests/smoke/test_healthz.py
Due: routes, services, Routes, Services

Add user approval endpoints with admin role guard
  README.md
  app/api/v1/users.py
  app/routes/users.py
  app/security/__init__.py
  app/security/roles.py
  app/services/user_service.py
  migrations/versions/20250924_add_role_to_user.py
  tests/users/test_user_approval.py
Due: api, routes, services, API, Routes, Services

ci: ensure coverage uploads and informational statuses
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-lite.yml
  codecov.yml
Due: none

Update login tests for JWT response
  README.md
  app/api/v1/users.py
  app/routes/auth.py
  app/security/__init__.py
  app/security/guards.py
  app/security/jwt.py
  requirements.txt
  tests/auth/test_jwt_and_guards.py
  tests/auth/test_login.py
  tests/test_api_v1_users.py
Due: api, routes, API, Routes

Add refresh tokens and rate limit login
  README.md
  app/__init__.py
  app/db.py
  app/errors.py
  app/extensions.py
  app/routes/auth.py
  app/security/jwt.py
  tests/auth/test_login.py
  tests/auth/test_refresh_and_ratelimit.py
  tests/conftest.py
Due: routes, Routes

Fix duplicate future import in user service
  README.md
  app/api/v1/users.py
  app/blueprints/admin/routes.py
  app/blueprints/admin/templates/admin/users.html
  app/services/user_service.py
  tests/test_api_v1_users.py
  tests/users/test_users_pagination_search.py
Due: api, routes, services, API, Routes, Services

Add refresh token denylist support
  README.md
  app/models/__init__.py
  app/models/refresh_token.py
  app/routes/auth.py
  app/security/jwt.py
  app/services/token_service.py
  migrations/versions/20250924_add_refresh_tokens_table.py
  tests/auth/test_refresh_denylist.py
Due: models, routes, services, Models, Routes, Services

Add refresh token cleanup service and JSON logging
  README.md
  app/__init__.py
  app/cli.py
  app/routes/auth.py
  app/services/maintenance_service.py
  app/telemetry/__init__.py
  app/telemetry/logger.py
  manage.py
  tests/services/test_maintenance_cleanup.py
Due: routes, services, Routes, Services

Add admin CSV export for users
  README.md
  app/api/v1/users.py
  app/blueprints/admin/routes.py
  app/blueprints/admin/templates/admin/users.html
  codecov.yml
  tests/users/test_users_export_csv.py
Due: api, routes, API, Routes

docs(readme): restore refresh body formatting
  README.md
Due: none

Add CORS configuration and per-user rate limits
  README.md
  app/__init__.py
  app/api/v1/users.py
  app/extensions.py
  app/routes/auth.py
  render.yaml
  requirements.txt
  tests/security/test_cors.py
Due: api, routes, API, Routes

docs(readme): describe CORS origins and per-endpoint limits
  README.md
Due: none

Configure coverage reporting with OIDC-based CI
  .coveragerc
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-lite.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  codecov.yml
Due: none

ci: enforce branch coverage with single uploader
  .coveragerc
  .github/workflows/ci-coverage-stable.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-lite.yml
  codecov.yml
  pytest.ini
Due: none

ci: consolidate stable coverage workflow
  .github/workflows/ci-coverage-stable.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-lite.yml
Due: none

Simplify Flask app for Render deployment
  app/__init__.py
  app/cli.py
  app/models.py
  migrations/env.py
  render.yaml
  requirements.txt
  wsgi.py
Due: none

fix(alembic): shorten revision ids
  migrations/versions/20250924_add_refresh_tokens_table.py
  tools/check_alembic_ids.py
Due: none

Update Render predeploy migration script
  render.yaml
Due: none

Allow login by email or username and improve admin CLI
  app/blueprints/auth/routes.py
  app/cli.py
  app/models/__init__.py
Due: models, routes, Models, Routes

Add coverage for CLI, auth routes, and user model helpers
  app/blueprints/auth/routes.py
  app/cli.py
  app/models/__init__.py
  tests/conftest.py
  tests/test_auth_routes.py
  tests/test_cli.py
  tests/test_models_user.py
Due: models, routes, Models, Routes

chore(ci): remove coverage & codecov; keep only basic tests for stability
  .coveragerc
  .github/workflows/ci-coverage-stable.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-lite.yml
  .github/workflows/ci.yml
  README.md
  codecov.yml
  requirements.txt
  tests/auth/test_jwt_and_guards.py
  tests/auth/test_login.py
  tests/auth/test_refresh_and_ratelimit.py
  tests/auth/test_refresh_denylist.py
  tests/conftest.py
  tests/services/test_maintenance_cleanup.py
  tests/smoke/test_healthz.py
  tests/test_api_endpoints.py
  tests/test_api_v1_todos.py
  tests/test_api_v1_users.py
  tests/test_api_version.py
  tests/test_authz_more_paths.py
  tests/test_authz_requires_role.py
  tests/test_error_handlers.py
  tests/test_health.py
  tests/test_import_all_modules.py
  tests/test_known_candidates.py
  tests/test_metrics_route.py
  tests/test_public_endpoints.py
  tests/test_routes_discovery.py
  tests/test_smoke.py
  tests/test_todo_service_unit.py
  tests/test_user_model.py
  tests/users/test_users_pagination_search.py
Due: none

chore(ci): remove codecov/coverage and keep only two basic tests
  app/blueprints/web/__init__.py
  tests/test_app_config.py
  tests/test_health.py
  tests/test_user_model.py
Due: routes, Routes

Add equipos management module
  app/blueprints/__init__.py
  app/blueprints/equipos/__init__.py
  app/blueprints/equipos/routes.py
  app/cli.py
  app/models/__init__.py
  app/models/equipo.py
  app/registry.py
  app/templates/base.html
  app/templates/equipos/detalle.html
  app/templates/equipos/form.html
  app/templates/equipos/index.html
  migrations/versions/20251010_create_equipos_table.py
Due: models, routes, Models, Routes

Add operadores management module
  app/blueprints/operadores/__init__.py
  app/blueprints/operadores/routes.py
  app/cli.py
  app/models/__init__.py
  app/models/operador.py
  app/registry.py
  app/templates/base.html
  app/templates/operadores/detalle.html
  app/templates/operadores/form.html
  app/templates/operadores/index.html
  migrations/versions/20251011_create_operadores_table.py
Due: models, routes, Models, Routes

Add equipment checklist management
  app/__init__.py
  app/blueprints/__init__.py
  app/blueprints/admin/routes.py
  app/blueprints/checklists/__init__.py
  app/blueprints/checklists/routes.py
  app/cli.py
  app/models/__init__.py
  app/models/checklist.py
  app/scripts/seed_demo.py
  app/templates/base.html
  app/templates/checklists/detalle.html
  app/templates/checklists/editar.html
  app/templates/checklists/index.html
  app/templates/checklists/nuevo.html
  migrations/versions/20251012_create_checklists_tables.py
Due: models, routes, Models, Routes

Add machinery daily parts tracking
  app/__init__.py
  app/blueprints/__init__.py
  app/blueprints/partes/__init__.py
  app/blueprints/partes/routes.py
  app/blueprints/web/__init__.py
  app/cli.py
  app/models/__init__.py
  app/models/equipo.py
  app/models/operador.py
  app/models/parte_diaria.py
  app/templates/base.html
  app/templates/home.html
  app/templates/partes/detalle.html
  app/templates/partes/editar.html
  app/templates/partes/index.html
  app/templates/partes/nuevo.html
  migrations/versions/20251013_create_partes_diarias_tables.py
Due: models, routes, Models, Routes

Link partes diarias with checklists
  app/blueprints/checklists/routes.py
  app/blueprints/partes/routes.py
  app/models/parte_diaria.py
  app/templates/base.html
  app/templates/checklists/detalle.html
  app/templates/partes/detalle.html
  app/templates/partes/nuevo.html
  migrations/versions/20250926_add_checklist_fk_to_partes.py
Due: models, routes, Models, Routes

Add dashboard homepage with KPI cards and alerts
  app/__init__.py
  app/blueprints/dashboard/__init__.py
  app/blueprints/dashboard/routes.py
  app/templates/base.html
  app/templates/dashboard/index.html
Due: routes, Routes

Fix checklist enum type creation
  app/models/checklist.py
  migrations/versions/20251012_create_checklists_tables.py
Due: models, Models

Shorten migration revision ids and update predeploy
  migrations/versions/20251011_create_operadores_table.py
  migrations/versions/20251012_create_checklists_tables.py
  migrations/versions/20251013_create_partes_diarias_tables.py
  render.yaml
Due: none

Fix checklist FK migration lineage
  migrations/versions/20250926_add_checklist_fk_to_partes.py
Due: none

Update predeploy and merge Alembic heads
  migrations/versions/20251011_create_operadores_table.py
  migrations/versions/rev_20251013_merge_heads.py
  render.yaml
Due: none

Fix operadores revision id
  migrations/versions/20251011_create_operadores_table.py
  migrations/versions/20251012_create_checklists_tables.py
Due: none

Refine Render deployment setup
  migrations/versions/20251013_rev_pdiarias.py
  migrations/versions/rev_20251013_merge_heads.py
  render.yaml
Due: none

Protect internal blueprints with login guards
  Procfile
  app/blueprints/checklists/__init__.py
  app/blueprints/checklists/routes.py
  app/blueprints/equipos/__init__.py
  app/blueprints/equipos/routes.py
  app/blueprints/operadores/__init__.py
  app/blueprints/operadores/routes.py
  app/blueprints/partes/__init__.py
  app/blueprints/partes/routes.py
  app/cli.py
  app/config.py
  app/security/__init__.py
  app/templates/base.html
  tests/auth/test_protected_routes.py
Due: routes, Routes

Improve admin seeding CLI by delegating to service helpers
  app/cli.py
  app/services/auth_service.py
Due: services, Services

Normalize auth login by email
  app/blueprints/auth/routes.py
  app/blueprints/auth/templates/auth/login.html
  tests/auth/test_login_admin.py
Due: routes, Routes

Improve login normalization and credential checks
  app/blueprints/auth/routes.py
Due: routes, Routes

Path conditions:
  api: any of: app/api/, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  auth: any of: app/auth/, app/simple_auth/, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  models: any of: app/models/, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  routes: any of: app/routes/, app/blueprints/, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  services: any of: app/services/, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  utils: any of: app/utils/, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  API: any of: app/api/**, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  Auth: any of: app/auth/**, app/simple_auth/**, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  Models: any of: app/models/**, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  Routes: any of: app/routes/**, app/blueprints/**, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  Services: any of: app/services/**, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
  Utils: any of: app/utils/**, but not: tests/**, migrations/**, docs/**, static/**, templates/**, wsgi.py, manage.py, render.yaml, seed_and_scan.sh, verify_metrics.sh, create_pr_ui_logo.sh, runtime.txt, Procfile
